
<div class="container-full-width">

  <div id="map" class="map"></div>

  <div style="display: block;">
    <div id="popup" title="Detailinformationen"></div>
  </div>


  <%= javascript_include_tag 'loadmap' %>

  <script type="text/javascript">
      var tubecamjson = <%=raw @tubecamjson %>;
      loadMap(tubecamjson, 4, 697266, 262661);
  </script>


</div>
