<h1>Willkommen auf der Tubecam Startseite</h1>


<%= link_to 'User verwalten', users_path %> <br>
<%= link_to 'Tubecamstations verwalten', tubecamstations_path %> <br>
<%= link_to 'Media verwalten', media_path %> <br>