<% @page_title=t '.title' %>

<h1>Projekt «TubeCam»</h1>

  <div class="zhaw-lead">
    <p class="lead">Die Entwicklung einer neuen Nachweismethodik für Kleinsäuger mit Fokus auf Kleinmusteliden und
      Schläfer.</p></div>

  <div class="csc-textpic-image">
    <figure class="dontsplit">
      <img src="https://www.zhaw.ch/storage/_processed_/4/a/csm_frettchenversuch_7fef338324.png" data-src="https://www.zhaw.ch/storage/_processed_/4/a/csm_frettchenversuch_4c2060ba10.png" data-tablet="https://www.zhaw.ch/storage/_processed_/4/a/csm_frettchenversuch_0fd61a282f.png" data-desktop="https://www.zhaw.ch/storage/_processed_/4/a/csm_frettchenversuch_7fef338324.png" class="img-responsive lazyload" alt="" style="opacity: 1;">
      <noscript>
        &lt;img src="https://www.zhaw.ch/storage/_processed_/4/a/csm_frettchenversuch_7dc67f8ae7.png" alt=""&gt;
      </noscript>
    </figure>
  </div>

  <div class="row"><h2><span>Projektziel</span></h2></div>
  <div class="clearfix">
    <div class="column text-left">
      <p class="text-left">Der Lebensraumverlust durch den <strong>Siedlungsausbau </strong>und die
        <strong>Intensivierung der Landwirtschaft</strong> sind für viele Tierarten eine grosse Bedrohung geworden.
        Auch die Bestände <strong>Mauswiesel, Hermelin, Iltis und Baummarder</strong> im Schweizer Mittelland sind nach
        einheitlicher Beurteilung von Fachleuten <strong>im Rückgang</strong> begriffen.
      </p>
      <p class="text-left">Neben Schutz- und Förderungsmassnahmen ist es dringend nötig,
        <strong>Informationen zu den Tierbeständen</strong> zu <strong>erfassen</strong>. Nur so können negative
        Tendenzen frühzeitig erkannt oder die Wirkung von Fördermassnamen geprüft werden. Aktuell ist die Erfassung
        von Kleinsäugern äusserst aufwendig und nur punktuell durchführbar.
      </p>
    </div>
    <div class="column">
      <p class="text-left">Das Projektziel verfolgt die Entwicklung einer Methode, die gegenüber der heute gängigen Praxis
        (Spurentunnel) folgende Vorteile aufweist: </p>
      <ul class="text-left">
        <li>Geringerer Zeitaufwand und geringere Gesamtkosten</li>
        <li>Höhere Datenqualität und grössere Wissensausbeute</li>
        <li>Tierschutzgerecht</li>
        <li>Ermöglicht zuverlässige Datenerhebung und -auswertung durch Laien</li>
      </ul>
    </div>
  </div>


  <div class="row"><h2><span>Konzept</span></h2></div>
  <div class="csc-textpic-image">
    <figure class="dontsplit">
      <img src="https://www.zhaw.ch/storage/_processed_/c/8/csm_Konzept_Infografik_ed2823a29a.png" data-src="https://www.zhaw.ch/storage/_processed_/c/8/csm_Konzept_Infografik_8d99cb94ab.png" data-tablet="https://www.zhaw.ch/storage/_processed_/c/8/csm_Konzept_Infografik_eec4ad0ab1.png" data-desktop="https://www.zhaw.ch/storage/_processed_/c/8/csm_Konzept_Infografik_ed2823a29a.png" class="img-responsive lazyload" alt="" style="opacity: 1;">
      <noscript>
        &lt;img src="https://www.zhaw.ch/storage/_processed_/c/8/csm_Konzept_Infografik_650cc2d779.png" alt=""&gt;
      </noscript>
    </figure>
  </div>

  <div class="row"><h2><span>Features</span></h2></div>

  <div class="row zhaw-threepersontestimonial">
    <div class="testimonial-responsive-slides">
      <div class="zhaw-threepersontestimonial-images-and-quotes clearfix testimonial-responsive-slides-list zhaw-responsive-slides">
        <div class="col-xs-12 col-sm-4">
          <figure>
            <div class="zhaw-onepersontestimonial-image">
              <img src="https://www.zhaw.ch/storage/_processed_/6/8/csm_citizenscience_814adce7dd.jpg" width="230" height="231" class="img-responsive" alt="">
            </div>
            <blockquote>Citizen Sciences</blockquote>
            <p>Mithilfe von TubeCam ist die Erhebung so weit vereinfacht, dass die Bevölkerung in den Prozess
              miteinbezogen werden kann.</p></figure>
        </div>
        <div class="col-xs-12 col-sm-4">
          <figure>
            <div class="zhaw-onepersontestimonial-image">
              <img src="https://www.zhaw.ch/storage/_processed_/9/7/csm_raumzeit_ac7154be2d.jpg" width="230" height="231" class="img-responsive" alt="">
            </div>
            <blockquote>Teilautomatisierte Erkennung</blockquote>
            <p>Neuste Softwaretechniken ermöglichen eine Teilautomatisierte Erkennung der erfassten Tierearten und
              bieten so eine wesentliche Arbeitserleichterung.</p></figure>
        </div>
        <div class="col-xs-12 col-sm-4">
          <figure>
            <div class="zhaw-onepersontestimonial-image">
              <img src="https://www.zhaw.ch/storage/_processed_/2/6/csm_deeplearning_6185468a5b.jpg" width="230" height="231" class="img-responsive" alt="">
            </div>
            <blockquote>Raumzeitliches Netzwerk</blockquote>
            <p>Durch den geringeren Aufwand kann ein Netzwerk aufgebaut werden, um Kleinsäuger räumlich und zeitlich
              detaillierter zu Erheben.</p></figure>
        </div>
      </div>
    </div>
  </div>

  <div class="row"><h2><span>Beteiligte</span></h2></div>
  <div class="linklist clearfix"><p>
    <a href="https://www.zhaw.ch/de/ueber-uns/person/rata/"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="link-text">Projektleiter: N. Ratnaweera</span></a>
  </p>
    <p>
      <a href="http://ch.linkedin.com/in/Ratnaweera"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="link-text">Technische Beratung, Stv. Projektleiter: R. Ratnaweera </span></a>
    </p>
    <p>
      <a href="https://www.zhaw.ch/de/engineering/institute-zentren/zsn/team/"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="link-text">Technische Entwicklung: D. Früh &amp; Dr. M. Loeser - ZHAW Zentrum für Signalverarbeitung und Nachrichtentechnik </span></a>
    </p>
    <p>
      <a href="http://www.wieselundco.ch/"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="link-text">Projektinitiation: Projekt «Wiesel &amp; Co am Zimmerberg»</span></a>
    </p>
    <p>
      <a href="https://www.zhaw.ch/de/lsfm/institute-zentren/iunr/integrative-oekologie/wildtiermanagement/team/"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="link-text">Wildtierbiologie: Dr. R. Graf &amp; Dr. S. Suter - ZHAW Forschungsgruppe Wildtiermanagement</span></a>
    </p>
    <p>
      <a href="https://www.zhaw.ch/de/engineering/institute-zentren/idp/team/"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="link-text">Teilautomatisierte Bildverarbeitung: Dr. O. Dürr - ZHAW ZHAW Institut für Datenanalyse und Prozessdesign (IDP)</span></a>
    </p></div>

