// Place all the styles related to the Annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



option.annotations-level-0 {
  font-weight: bold;
  font-size: 16px;
}

option.annotations-level-0:first-child {
  margin-top: 0;
  margin-bottom: 10px;
  color: #a17b71;
  font-size: 14px;
}

option.annotations-level-1 {
  font-style: italic;
  font-size: 16px;
}

option.annotations-level-2 {

}

.annotation-flex {
  display: flex;
  flex-direction: row;
}

.annotation-image {
  position: relative;
  width: 60%;
  margin: 10px;
}

.annotation-dropdown {
  width: 40%;
  margin: 10px;
}

.annotation-image .annotation-refresh {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 900;
  opacity: 0.5;
  transition: 1s;
}

.annotation-image:hover .annotation-refresh {
  opacity: 0.7;
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  .annotation-flex {
    flex-direction: column;
  }
  .annotation-image {
    position: relative;
    width: 100%;
  }

  .annotation-dropdown {
    width: 100%;
  }

}